@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}


.main-nav {
  display: flex;
  padding: 0 70px;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  width: 507px;
  display: flex;
}

.main-nav-user {
  max-width: 268px;
  margin-left: auto;
}

.main-nav-link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.btn {
  border: none;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
}

.btn-blue {
  background-color: #82b3d3;
}

.btn-green {
  background-color: #7db54f;
}

.btn-transparent {
  background-color: transparent;
}

.booking-link {
  display: block;
  width: 376px;
  margin: 0 auto;
}

.mailing-form .btn-blue {
  width: 232px;
}

.hero,
.mailing,
.filters {
  background-image: url("../images/background-image/background-hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #374c4d;
  color: #ffffff;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;

}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
}

.advantages-image {
  display: block;
}

.advantages-item-blue {
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;
  display: flex;
}

.advantages-title,
.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description,
.services-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.advantages-item-silver {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-light-blue,
.services-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.mailing {
  background-image: url("../images/background-image/background-subscribe.jpg");
}

.mailing-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.mailing-white {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}

.mailing-form-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  width: 452px;
}

.footer-container {
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}

.footer-social {
  width: 142px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-contacts-link {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-contacts {
  text-align: center;
}

.filters {
  background-image: url("../images/background-image/background-catalog.jpg");
}

.filters-wrapper {
  padding: 0 70px;
}

.form-filter-wrapper {
  display: flex;
}

.filters-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.form-filters {
  display: flex;
}

.form-filters-buttons {
  display: flex;
  width: 191px;
  flex-direction: column;
  margin-left: auto;
}

.form-filters-group {
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
}

.bread-wrapper {
  display: flex;
}

.breadcrumbs-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.form-filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.form-filters-check,
.form-filters-radio {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.control-wrapper {
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}

.sort-control {
  display: flex;
  justify-content: space-between;
}

.hotel-control {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.hotel-list {
  display: flex;
  padding: 0 70px;

  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card {
  width: 340px;
}

.hotel-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.hotel-type {
  text-align: left;
  color: #333333;
}

.hotel-price {
  font-weight: 400;
  text-align: right;
  color: #333333;
}

.hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.pagination {
  display: flex;
  padding: 0 70px;
  margin: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  display: block;
  width: 60px;
  height: 60px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-other {
  color: #000000;
  background-color: #ffffff;
}
