@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}


.main-nav {
  display: flex;
  padding: 0 70px;
  margin-bottom: -10px;;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  width: 507px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.main-nav-user {
  max-width: 268px;
  margin-left: auto;
}

.main-nav-link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
}

.main-nav-link-current {
  position: relative;
}

.main-nav-link-current::before {
  position: absolute;
  content: "";
  background-color: #756257;
  height: 2px;
  left: 16px;
  right: 16px;
  bottom: -1px;
}

.main-nav-logo {
  margin-right: 28px;
  position: relative;
  z-index: 1;
}

.main-nav-user .main-nav-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.main-nav-link-search {
  background-image: url("../images/icon/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav-link-favorites {
  position: relative;
  background-image: url("../images/icon/favourites.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav-user .main-nav-item:last-child {
  padding: 14px 0 14px 20px;
}

.badge {
  position: absolute;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 0 3px;
  box-sizing: border-box;
  background-color: #7db54f;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  left: 20px;
  top: 11px;
}

.btn {
  border: none;
  padding: 8px 34px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus {
  background-color: #615048;
}

.btn:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.btn:disabled,
.btn-blue:disabled,
.btn-green:disabled {
  background-color: #e5e5e5;
  cursor: not-allowed;
}

.btn-blue {
  background-color: #82b3d3;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #68a2ca;
}

.btn-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.btn-green {
  background-color: #7db54f;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #6c9e42;
}

.btn-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.btn-transparent {
  background-color: transparent;
  border: 3px solid transparent;
  padding: 5px 34px;
}

.btn-transparent:hover {
  background-color: transparent;
  opacity: 0.6;
}

.btn-transparent:focus {
  border: 3px solid #83b3d3;
  background-color: transparent;
}

.btn-transparent:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.btn-transparent:disabled {
  opacity: 0.1;
  background-color: transparent;
  cursor: not-allowed;
}

.booking-link {
  width: 376px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

.mailing-form-field {
  width: 100%;
}

.mailing-form-btn {
  min-width: 232px;
  border-radius: 0 4px 4px 0;
}

.hero,
.mailing,
.filters {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #374c4d;
  color: #ffffff;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image:
    url("../images/background-image/divider.svg"),
    url("../images/background-image/background-hero.jpg");
  background-position:
    center bottom,
    center;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;

}

.advantages-preview {
  padding: 69px 0 90px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 62px;
  position: relative;
}

.advantages-title::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 2px;
  left: 85px;
  bottom: -32px;
}

.advantages-item-blue .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages .title {
  margin-bottom: 25px;
  padding: 0 288px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
}

.advantages-wrapper {
  padding: 102px 85px;
}

.advantages-item-wrapper {
  padding: 112px 83px;
  box-sizing: border-box;
}

.advantages-item-wrapper .advantages-title {
  padding: 0 26px;
}

.advantages-image {
  display: block;
}

.advantages-item-blue {
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;
  display: flex;
}

.advantages-item-blue .advantages-description {
  color: inherit;
}

.advantages-title,
.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services .title {
  margin-bottom: 20px;
}

.advantages-description,
.services-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.services-preview {
  padding: 64px 340px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
  padding: 81px 85px;
  padding-top: 183px;
  box-sizing: border-box;
}

.services-title {
  margin-bottom: 30px;
  margin-top: 0;
  position: relative;
}

.services-title::before {
  position: absolute;
  content: "";
  background-image: url(../images/icon/housing-icon.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  top: -102px;
  left: 50%;
  background-position: center;
  transform: translateX(-50%);
}

.services-title-food::before {
  background-image: url(../images/icon/food-icon.svg);
}

.services-title-souvenirs::before {
  background-image: url(../images/icon/souvenirs-icon.svg);
}

.advantages-item-silver {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-light-blue,
.services-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.booking {
  padding: 96px 304px;
}

.booking .title {
  margin-bottom: 20px;
}

.booking .subtitle {
  margin-bottom: 54px;
}

.mailing {
  background-image: url("../images/background-image/background-subscribe.jpg");
  padding: 96px 258px 104px;
}

.mailing .title {
  margin-bottom: 20px;
}

.mailing .subtitle {
  color: #ffffff;
  margin-bottom: 54px;
}

.mailing-form {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.mailing-white {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}

.mailing-white .subtitle {
  color: #333333;
}

.mailing-form-email {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  width: 100%;
  padding: 11px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.mailing-form-email:hover {
  background-color: #e6e6e6;
}

.mailing-form-email:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.mailing-form-email::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.control {
  min-width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  display: block;
  box-sizing: border-box;
  transform: translateY(1px);
}

.form-filters-radio .control {
  border-radius: 50%;
}

.form-filters-radio input:checked + .control {
  background-color: #3f5e72;
  border: 5px solid #ffffff;
}

.form-filters-check input:checked + .control {
  background-image: url("../images/icon/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 70px 30px;
  justify-content: space-between;
}

.footer-social {
  min-width: 142px;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-link {
  display: block;
  width: 48px;
  height: 40px;
  mask-repeat: no-repeat;
  mask-position: center;
  background: #83b3d3;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #68a2ca;
}

.footer-social-link:active {
  background-color: rgba(104, 162, 202, 0.3);
}

.footer-social-vk {
  mask-image: url("../images/social/social-vk.svg");
}

.footer-social-tg {
  mask-image: url("../images/social/social-tg.svg");
}

.footer-social-yt {
  mask-image: url("../images/social/social-yt.svg");
}

.footer-contacts-link {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  min-width: 47px;
  min-height: 40px;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #756157;
}

.footer-contacts-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-copyright-link {
  display: block;
  width: 115px;
  height: 33px;
  mask-image: url("../images/logo-html-academy.svg");
  background-color: #000000;
}

.footer-copyright-link:hover,
.footer-copyright-link:focus {
  background-color: #756157;
}

.footer-copyright-link:active {
  background-color: rgba(117, 97, 87, 0.3);
}

.footer-contacts {
  text-align: center;
}

.filters {
  background-image: url("../images/background-image/background-catalog.jpg");
  padding: 35px 70px 70px;
  background-size: auto 100%;
}

.form-filter-wrapper {
  display: flex;
}

.filters-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.form-filters {
  display: flex;
}

.form-filters-buttons {
  display: flex;
  width: 191px;
  flex-direction: column;
  margin-left: auto;
  justify-content: flex-end;
  gap: 32px;
}

.form-filters-group {
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: none;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 17px;
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  background-image: url("../images/icon/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 20px;
  top: 0;
  left: 23px;
}

.breadcrumbs-item:last-child:after {
  content: none;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-home {
  width: 23px;
  height: 21px;
  mask-image: url("../images/icon/breadcrumbs-home.svg");
  mask-repeat: no-repeat;
  mask-position: left center;
  background-color: #ffffff;
}

.breadcrumbs-link-home:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-home:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.form-filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.form-filters-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-filters-item:not(:last-child) {
  margin-bottom: 16px;
}

.form-filters-check,
.form-filters-radio {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.form-filters-check:hover,
.form-filters-radio:hover {
  opacity: 0.6;
}

.form-filters-check:active,
.form-filters-radio:active {
  opacity: 0.3;
}

.form-filters-check input:focus + .control {
  box-shadow: 0 0 0 3px #83b3d3;
}

.form-filters-radio input:focus + .control {
  box-shadow: 0 0 0 3px #83b3d3;
}

.form-range-group {
  width: 287px;
}

.range-scale {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  left: 0;
  top: 0;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  top: -8px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow:
    0 0 0 3px #83b3d3,
    0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  box-shadow:
    0 0 0 2px #83b3d3,
    0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.range-form {
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.range-label {
  width: 50%;
  position: relative;
}

.range-label:first-child input {
  border-radius: 4px 0 0 4px;
}

.range-label:last-child input {
  border-radius: 0 4px 4px 0;
}

.range-label input {
  padding: 12px 20px;
  padding-right: 40px;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 100%;
  box-sizing: border-box;
  appearance: textfield;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
}

.range-label:hover input {
  background-color: #e6e6e6;
}

.range-label input:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
  z-index: 2;
}

.range-label input::-webkit-inner-spin-button,
.range-label input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.range-label span {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.hotel-catalog {
  padding: 50px 70px 60px;
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.button-view {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.button-view-check {
  border: 2px solid #000000;
}

.button-view:hover,
.button-view:active {
  border: 2px solid #000000;
}

.button-view:focus {
  border: 2px solid #68a2ca;
}

.button-view-card {
  background-image: url(../images/icon/sort-icon-card.svg);
}

.button-view-gallery {
  background-image: url(../images/icon/sort-icon-gallery.svg);
}

.button-view-lists {
  background-image: url(../images/icon/sort-icon-lists.svg);
}

.sort-control {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.hotel-control {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-right: 70px;
  appearance: none;
  border: 2px solid #e5e5e5;
  padding: 14px 50px 14px 20px;
  color: #000000;
  min-width: 292px;
  box-sizing: border-box;
  background-image: url("../images/icon/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  outline: none;
}

.hotel-control:hover,
.hotel-control:focus {
  border-color: #68a2ca;
}

.hotel-control:disabled {
  border-color: #000000;
  opacity: 0.3;
  cursor: not-allowed;
}

.hotel-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style-type: none;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-card {
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-title {
  margin: 0;
}

.hotel-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  margin-bottom: 16px;
}

.hotel-card-img {
  margin-bottom: 16px;
  object-fit: cover;
}

.hotel-info {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  margin-top: auto;
}

.hotel-info .btn {
  padding: 8px 18px;
  box-sizing: border-box;
}

.hotel-type {
  text-align: left;
  color: #333333;
}

.hotel-price {
  font-weight: 400;
  text-align: right;
  color: #333333;
}

.hotel-stars {
  width: 140px;
  height: 30px;
  background-image: url(../images/icon/rating-stars-icon.svg);
  background-repeat: repeat-x;
  background-position: left;
  align-self: center;
}

.one-hotel-stars {
  width: 23px;
}

.two-hotel-stars {
  width: 46px;
}

.three-hotel-stars {
  width: 69px;
}

.four-hotel-stars {
  width: 92px;
}

.five-hotel-stars {
  width: 105px;
}

.hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px 18px;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-other {
  color: #000000;
  background-color: #ffffff;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
  border-color: #82b3d3;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background-color: #f2f2f2;
  color: #000000;
  border: 1px solid transparent;
}

.pagination-other:hover,
.pagination-other:focus,
.pagination-other:active {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid transparent;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 10;
}

.modal-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000000;
  top: 25px;
  right: 16px;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  opacity: 0.3;
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-btn {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 64px;
}

.modal-wrapper {
  display: flex;
  gap: 18px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 23px;
}

.modal-help {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 20px;
}

.modal-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  transform: translateY(11px);
}

.modal-field {
  min-width: 440px;
}

.modal-field input {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding: 12px 70px 12px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 4px;
  background-image: url("../images/icon/modal-date.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  outline: none;
}

.modal-field input:hover {
  background-color: #e6e6e6;
}

.modal-field input:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-field input::placeholder {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.modal-help-error {
  color: #ff5757;
}

.modal-pack {
  display: flex;
  justify-content: space-between;
}

.modal-pack .modal-wrapper {
  width: 247px;
  margin-bottom: 48px;
}

.modal-pack .modal-wrapper:last-child {
  width: 242px;
}

.modal-pack .modal-label {
  transform: translateY(14px);
}

.modal-field-calc {
  display: flex;
  width: 110px;
}

.modal-field-calc input {
  width: 31px;
  padding: 14px 0;
  border: none;
  outline: none;
  appearance: textfield;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.modal-field-calc input::-webkit-inner-spin-button,
.modal-field-calc input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.btn-minus,
.btn-plus {
  width: 40px;
  border: none;
  outline: none;
  padding: 14px 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-minus {
  border-radius: 4px 0 0 4px;
}

.btn-plus {
  border-radius: 0 4px 4px 0;
}

.btn-plus svg {
  padding: 3px;
  fill: rgba(117, 97, 87, 0.3);
}

.btn-minus svg {
  padding: 9px 3px;
  fill: rgba(117, 97, 87, 0.3);
}

.btn-minus:hover svg,
.btn-plus:hover svg {
  fill: #000000;
}

.btn-minus:focus svg,
.btn-plus:focus svg {
  fill: #000000;
  box-shadow: 0 0 0 3px #82b3d3;
  border-radius: 4px;
}

.btn-minus:active svg,
.btn-plus:active svg {
  fill: rgba(117, 97, 87, 0.3);
  box-shadow: none;
}

.tooltip {
  position: relative;
  margin-left: 5px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/icon/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  outline: none;
  vertical-align: middle;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 256px;
  box-sizing: border-box;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  top: 100%;
  display: none;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  background-image: url("../images/icon/tooltip-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 9px;
  left: 0;
  bottom: 100%;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
